.newsletter-wrap {
  padding: 4rem 1.5rem;
}

.newsletter-bar {
  max-width: 1200px;
  margin: auto;
  background: #000;
  border-radius: 18px;
  padding: 2.2rem 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.newsletter-bar h3 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 1.2;
}

/* WHITE FORM BOX */
.newsletter-form {
  background: #000000;
  border-radius: 14px;
  padding: 1rem;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* INPUT */
.newsletter-form input {
  border: none;
  outline: none;
  background: #ffffff;
  padding: 0.9rem 1rem;
  border-radius: 25px;
  font-size: 0.9rem;
}

/* BUTTON BELOW INPUT */
.newsletter-form button {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 0.85rem;
  border-radius: 25px;
  font-size: 0.85rem;
  cursor: pointer;
}



@media (max-width: 768px) {
  .newsletter-bar {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-form {
    width: 100%;
  }
}
